/*/logs/
/*/target/
/**/web/

# ignore intellij files
.idea/
*.iml
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
automatedtesting-definition/.classpath
automatedtesting-definition/.project
automatedtesting-definition/.settings/org.eclipse.core.resources.prefs
automatedtesting-definition/.settings/org.eclipse.jdt.core.prefs
automatedtesting-definition/.settings/org.eclipse.m2e.core.prefs
automatedtesting-impl/.classpath
automatedtesting-impl/.settings/org.eclipse.core.resources.prefs
automatedtesting-impl/.settings/org.eclipse.jdt.core.prefs
automatedtesting-impl/.settings/org.eclipse.m2e.core.prefs
botmarklet/.classpath
botmarklet/.settings/org.eclipse.core.resources.prefs
botmarklet/.settings/org.eclipse.jdt.core.prefs
botmarklet/.settings/org.eclipse.m2e.core.prefs
caching-definition/.classpath
caching-definition/.settings/org.eclipse.core.resources.prefs
caching-definition/.settings/org.eclipse.jdt.core.prefs
caching-definition/.settings/org.eclipse.m2e.core.prefs
caching-impl-infinispan/.classpath
caching-impl-infinispan/.settings/org.eclipse.core.resources.prefs
caching-impl-infinispan/.settings/org.eclipse.jdt.core.prefs
caching-impl-infinispan/.settings/org.eclipse.m2e.core.prefs
configurationrepository-definition/.classpath
configurationrepository-definition/.settings/org.eclipse.core.resources.prefs
configurationrepository-definition/.settings/org.eclipse.jdt.core.prefs
configurationrepository-definition/.settings/org.eclipse.m2e.core.prefs
configurationrepository-impl/.classpath
configurationrepository-impl/.settings/org.eclipse.core.resources.prefs
configurationrepository-impl/.settings/org.eclipse.jdt.core.prefs
configurationrepository-impl/.settings/org.eclipse.m2e.core.prefs
configurationserver/.classpath
configurationserver/.settings/org.eclipse.core.resources.prefs
configurationserver/.settings/org.eclipse.jdt.core.prefs
configurationserver/.settings/org.eclipse.m2e.core.prefs
conversationlifecycle-definition/.classpath
conversationlifecycle-definition/.settings/org.eclipse.core.resources.prefs
conversationlifecycle-definition/.settings/org.eclipse.jdt.core.prefs
conversationlifecycle-definition/.settings/org.eclipse.m2e.core.prefs
conversationlifecycle-impl/.classpath
conversationlifecycle-impl/.settings/org.eclipse.core.resources.prefs
conversationlifecycle-impl/.settings/org.eclipse.jdt.core.prefs
conversationlifecycle-impl/.settings/org.eclipse.m2e.core.prefs
conversationmemory-definition/.classpath
conversationmemory-definition/.settings/org.eclipse.core.resources.prefs
conversationmemory-definition/.settings/org.eclipse.jdt.core.prefs
conversationmemory-definition/.settings/org.eclipse.m2e.core.prefs
conversationmemory-impl/.classpath
conversationmemory-impl/.settings/org.eclipse.core.resources.prefs
conversationmemory-impl/.settings/org.eclipse.jdt.core.prefs
conversationmemory-impl/.settings/org.eclipse.m2e.core.prefs
corerest-definition/.classpath
corerest-definition/.settings/org.eclipse.core.resources.prefs
corerest-definition/.settings/org.eclipse.jdt.core.prefs
corerest-definition/.settings/org.eclipse.m2e.core.prefs
coreserver/.classpath
coreserver/.settings/org.eclipse.core.resources.prefs
coreserver/.settings/org.eclipse.jdt.core.prefs
coreserver/.settings/org.eclipse.m2e.core.prefs
coreutilities/.classpath
coreutilities/.settings/org.eclipse.core.resources.prefs
coreutilities/.settings/org.eclipse.jdt.core.prefs
coreutilities/.settings/org.eclipse.m2e.core.prefs
expressions/.classpath
expressions/.settings/org.eclipse.core.resources.prefs
expressions/.settings/org.eclipse.jdt.core.prefs
expressions/.settings/org.eclipse.m2e.core.prefs
nlpserver/.classpath
nlpserver/.settings/org.eclipse.core.resources.prefs
nlpserver/.settings/org.eclipse.jdt.core.prefs
nlpserver/.settings/org.eclipse.m2e.core.prefs
permissions-definition/.classpath
permissions-definition/.settings/org.eclipse.core.resources.prefs
permissions-definition/.settings/org.eclipse.jdt.core.prefs
permissions-definition/.settings/org.eclipse.m2e.core.prefs
permissions-impl/.classpath
permissions-impl/.settings/org.eclipse.core.resources.prefs
permissions-impl/.settings/org.eclipse.jdt.core.prefs
permissions-impl/.settings/org.eclipse.m2e.core.prefs
persistencestore-definition/.classpath
persistencestore-definition/.settings/org.eclipse.core.resources.prefs
persistencestore-definition/.settings/org.eclipse.jdt.core.prefs
persistencestore-definition/.settings/org.eclipse.m2e.core.prefs
persistencestore-impl/.classpath
persistencestore-impl/.settings/org.eclipse.core.resources.prefs
persistencestore-impl/.settings/org.eclipse.jdt.core.prefs
persistencestore-impl/.settings/org.eclipse.m2e.core.prefs
runtime-definition/.classpath
runtime-definition/.settings/org.eclipse.core.resources.prefs
runtime-definition/.settings/org.eclipse.jdt.core.prefs
runtime-definition/.settings/org.eclipse.m2e.core.prefs
runtime-impl/.classpath
runtime-impl/.settings/org.eclipse.core.resources.prefs
runtime-impl/.settings/org.eclipse.jdt.core.prefs
runtime-impl/.settings/org.eclipse.m2e.core.prefs
semanticparser-definition/.classpath
semanticparser-definition/.settings/org.eclipse.core.resources.prefs
semanticparser-definition/.settings/org.eclipse.jdt.core.prefs
semanticparser-definition/.settings/org.eclipse.m2e.core.prefs
semanticparser-impl/.classpath
semanticparser-impl/.settings/org.eclipse.core.resources.prefs
semanticparser-impl/.settings/org.eclipse.jdt.core.prefs
semanticparser-impl/.settings/org.eclipse.m2e.core.prefs
sharedutilities/.classpath
sharedutilities/.settings/org.eclipse.core.resources.prefs
sharedutilities/.settings/org.eclipse.jdt.core.prefs
sharedutilities/.settings/org.eclipse.m2e.core.prefs
staticresourceprovider-definition/.classpath
staticresourceprovider-definition/.settings/org.eclipse.core.resources.prefs
staticresourceprovider-definition/.settings/org.eclipse.jdt.core.prefs
staticresourceprovider-definition/.settings/org.eclipse.m2e.core.prefs
staticresourceprovider-impl/.classpath
staticresourceprovider-impl/.settings/org.eclipse.core.resources.prefs
staticresourceprovider-impl/.settings/org.eclipse.jdt.core.prefs
staticresourceprovider-impl/.settings/org.eclipse.m2e.core.prefs
user-definition/.classpath
user-definition/.settings/org.eclipse.core.resources.prefs
user-definition/.settings/org.eclipse.jdt.core.prefs
user-definition/.settings/org.eclipse.m2e.core.prefs
user-impl/.classpath
user-impl/.settings/org.eclipse.core.resources.prefs
user-impl/.settings/org.eclipse.jdt.core.prefs
user-impl/.settings/org.eclipse.m2e.core.prefs
webserver/.classpath
webserver/.settings/org.eclipse.core.resources.prefs
webserver/.settings/org.eclipse.jdt.core.prefs
webserver/.settings/org.eclipse.m2e.core.prefs
